In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ACER\Desktop\ML\15-Bagging\04-heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [2]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Remove outliers using Z-score

In [6]:
from scipy.stats import zscore
df = df[(zscore(df.Age) >= -3) & zscore(df.Age) <= 3]
df = df[(zscore(df.RestingBP) >= -3) & zscore(df.RestingBP) <= 3]
df = df[(zscore(df.Cholesterol) >= -3) & zscore(df.Cholesterol) <= 3]
df = df[(zscore(df.FastingBS) >= -3) & zscore(df.FastingBS) <= 3]
df = df[(zscore(df.MaxHR) >= -3) & zscore(df.MaxHR) <= 3]
df = df[(zscore(df.Oldpeak) >= -3) & zscore(df.Oldpeak) <= 3]

## Encoding textual data

In [7]:
print(df.Sex.unique())
print(df.ChestPainType.unique())
print(df.RestingECG.unique())
print(df.ExerciseAngina.unique())
print(df.ST_Slope.unique())

['M' 'F']
['ATA' 'NAP' 'ASY' 'TA']
['Normal' 'ST' 'LVH']
['N' 'Y']
['Up' 'Flat' 'Down']

In [8]:
df2 = df.copy()
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [9]:
df2.RestingECG.replace(
{"Normal": 0,
"ST": 1,
"LVH": 2}, inplace = True
)

df2.ExerciseAngina.replace(
{"N": 0,
"Y": 1,}, inplace = True
)

df2.ST_Slope.replace(
{"Up": 0,
"Flat": 1,
"Down": 2}, inplace = True
)

In [10]:
df2 = pd.get_dummies(df2, drop_first=True)
df2.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0.0,0,0,True,True,False,False
1,49,160,180,0,0,156,0,1.0,1,1,False,False,True,False
2,37,130,283,0,1,98,0,0.0,0,0,True,True,False,False
3,48,138,214,0,0,108,1,1.5,1,1,False,False,False,False
4,54,150,195,0,0,122,0,0.0,0,0,True,False,True,False

## Scaling data

In [12]:
X = df2.drop("HeartDisease", axis = 1)
y = df2.HeartDisease

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

## Building model using SVM

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.2, stratify = y)

In [21]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
scores = cross_val_score(SVC(), X, y, cv = 5)
scores.mean()

0.6851389878831076

Accuracy using standalone SVM model: 68%

In [22]:
from sklearn.ensemble import BaggingClassifier
bag_model = BaggingClassifier( 
    estimator = SVC(),
    n_estimators = 100,      # trian model using 100 different subsets of data
    max_samples = 0.8,        # use 80% subset data for training
    oob_score = True,        # test model on numbers that never came in the subsets of data
    random_state = 0
)

scores = cross_val_score(bag_model, X, y, cv = 5)
scores.mean()

0.6884057971014493

SVM using bagging: 68% (not much difference)

## Training model using Decision Tree Classifier

In [23]:
from sklearn.tree import DecisionTreeClassifier
scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5)
scores.mean()

0.7199512948443811

Accuarcy of standalone DecisionTreeClassifier: 71%

In [24]:
bag_model = BaggingClassifier( 
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,      # trian model using 100 different subsets of data
    max_samples = 0.8,        # use 80% subset data for training
    oob_score = True,        # test model on numbers that never came in the subsets of data
    random_state = 0
)

scores = cross_val_score(bag_model, X, y, cv = 5)
scores.mean()

0.7994773105250653

Accuracy of DecisionTree using bagging: ~80% (quite an improvement)

Comapring bagging with SVM and DecisionTreeClassifer, decision tree made improvement using bagging.
This is because bagging works best with unstable (high variance) models like decsion tree.