In [1]:
import pandas as pd
from scipy.stats import zscore

In [2]:
df = pd.read_csv(r"C:\Users\ACER\Desktop\ML\14-PCA\03-heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Removing outliers

In [5]:
# Cholesterol
df = df[(zscore(df.Cholesterol)  >= -3) & (zscore(df.Cholesterol) <= 3)]  # removing outliers in cholesterol field
df.shape

(915, 12)

In [6]:
# RestingBP
df = df[(zscore(df.RestingBP) >= -3) & (zscore(df.RestingBP) <= 3)]
df.shape

(907, 12)

In [7]:
# FastingBS
df = df[(zscore(df.FastingBS) >= -3) & (zscore(df.FastingBS) <= 3)]
df.shape

(907, 12)

In [8]:
# MaxHR
df = df[(zscore(df.MaxHR) >= -3) & (zscore(df.MaxHR) <= 3)]
df.shape

(906, 12)

In [9]:
# OldPeak
df = df[(zscore(df.Oldpeak) >= -3) & (zscore(df.Oldpeak) <= 3)]
df.shape

(899, 12)

In [10]:
# Age
df = df[(zscore(df.Age) >= -3) & (zscore(df.Age) <= 3)]
df.shape

(899, 12)

## Encoding text columns

In [11]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

In [12]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [13]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [14]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [15]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [17]:
df2 = df.copy()

In [18]:
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [19]:
df2.RestingECG.replace(
        {
        "Normal":0,
        "ST": 1,
        "LVH": 2
        }, inplace = True
    )
df2.ExerciseAngina.replace(
        {
            "N": 0,
            "Y": 1
        }, inplace = True
    )
df2.ST_Slope.replace(
        {
            "Up": 0,
            "Flat": 1,
            "Down": 2
        }, inplace = True
    )

df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,0,172,0,0.0,0,0
1,49,F,NAP,160,180,0,0,156,0,1.0,1,1
2,37,M,ATA,130,283,0,1,98,0,0.0,0,0
3,48,F,ASY,138,214,0,0,108,1,1.5,1,1
4,54,M,NAP,150,195,0,0,122,0,0.0,0,0

In [20]:
df2 = pd.get_dummies(df2, drop_first = True)
df2.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0.0,0,0,True,True,False,False
1,49,160,180,0,0,156,0,1.0,1,1,False,False,True,False
2,37,130,283,0,1,98,0,0.0,0,0,True,True,False,False
3,48,138,214,0,0,108,1,1.5,1,1,False,False,False,False
4,54,150,195,0,0,122,0,0.0,0,0,True,False,True,False

## Scaling the data

In [21]:
X = df2.drop("HeartDisease", axis = 1)
y = df2.HeartDisease

In [22]:
X.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,0,172,0,0.0,0,True,True,False,False
1,49,160,180,0,0,156,0,1.0,1,False,False,True,False
2,37,130,283,0,1,98,0,0.0,0,True,True,False,False
3,48,138,214,0,0,108,1,1.5,1,False,False,False,False
4,54,150,195,0,0,122,0,0.0,0,True,False,True,False

In [23]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: HeartDisease, dtype: int64

In [25]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42815446,  0.46590022,  0.84963584, ...,  2.06332497,
        -0.5349047 , -0.22955001],
       [-0.47585532,  1.63471366, -0.16812204, ..., -0.48465463,
         1.86949191, -0.22955001],
       [-1.7455875 , -0.1185065 ,  0.79361247, ...,  2.06332497,
        -0.5349047 , -0.22955001],
       ...,
       [ 0.3706328 , -0.1185065 , -0.62564622, ..., -0.48465463,
        -0.5349047 , -0.22955001],
       [ 0.3706328 , -0.1185065 ,  0.35476274, ...,  2.06332497,
        -0.5349047 , -0.22955001],
       [-1.63977649,  0.34901888, -0.21480818, ..., -0.48465463,
         1.86949191, -0.22955001]])

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

model_params = {
    "logistic":{
        "model": LogisticRegression(),
        "params": {
            "C": [5, 10, 20, 50, 100],
            "max_iter": [50, 100]
        }
    },
    "SVM":{
         "model": SVC(),
        "params": {
            "C": [1, 5, 10],
            "kernel": ["rbf", "linear", "sigmoid"]
        }
    },
    "random_forest":{
        "model": RandomForestClassifier(),
        "params":{
            "n_estimators": [5, 10, 20, 50, 100]
        }
    }
}

In [66]:
scores = []
for model_name, mp in model_params.items():
    clf = GridSearchCV(mp["model"], mp["params"], cv = 5, return_train_score = False)
    clf.fit(X_train, y_train)
    scores.append({
        "model": model_name,
        "best_score": clf.best_score_,
        "best_params": clf.best_params_
    })
result = pd.DataFrame(scores, columns = ["model", "best_score", "best_params"])
result

           model  best_score                   best_params
0       logistic    0.785849      {'C': 5, 'max_iter': 50}
1            SVM    0.787238  {'C': 1, 'kernel': 'linear'}
2  random_forest    0.776107         {'n_estimators': 100}

Selecting Random Forest

## PCA

In [77]:
from sklearn.decomposition import PCA
pca = PCA(0.99)
X_pca = pca.fit_transform(X)
X_pca.shape

(899, 3)

In [78]:
pca.explained_variance_ratio_

array([0.92111815, 0.05064593, 0.02258116])

In [79]:
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.2)
rf = RandomForestClassifier(n_estimators=50)
rf.fit(X_train_pca, y_train_pca)
rf.score(X_test_pca, y_test_pca)

0.7222222222222222

PCA gave accuracy of 72 (comparable to previous accuracy of 77) with just 3 features (as compared to initial 12 features)